.container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.wrapper {
  display: grid;
  place-items: center;
  min-width: min(360px, 80%);
}
