.mentions {
  margin-bottom: 15px;
}

/* .mentions--singleLine .mentions__control {
  display: inline-block;
  width: 130px;
}
.mentions--singleLine .mentions__highlighter {
  padding: 1px;
  border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
  padding: 1px;
  border: 2px inset;
} */

.mentions--multiLine .mentions__control {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  box-sizing: border-box;

  min-height: 120px;
}
.mentions--multiLine .mentions__highlighter {
  border: 1px solid transparent;
  padding: 10px;
  min-height: 63px;
  line-height: 1.5;
}
.mentions--multiLine .mentions__input {
  border: 1px solid silver;
  outline: 0;
  /* color: transparent; */

  border-radius: 10px;
  padding: 10px;
  line-height: 1.5;
  /* resize: none;
  overflow: auto; */
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.mentions__suggestions__item {
  padding: 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
  background-color: #e0e0e0;
}

.mentions__mention {
  position: relative;
  z-index: 2;
  color: #b71c1c;
  text-shadow: 1px 1px 1px rgba(183, 28, 28, 0.1),
    1px -1px 1px rgba(183, 28, 28, 0.1), -1px 1px 1px rgba(183, 28, 28, 0.1),
    -1px -1px 1px rgba(183, 28, 28, 0.1);
  pointer-events: none;
  background-color: rgba(183, 28, 28, 0.1);
}
