---
import Notification from '../components/notification/Notification.svelte' 
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Veils</title>
		<meta name='description' content="Share your secrets anonymously" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
	</head>
	<body>
		<slot name='body' />
		<Notification client:load />
	</body>
</html>