---
import { DEFAULT_PAGE_TITLE, DEFAULT_PAGE_DESCRIPTION } from '../lib/constants'

export interface Props {
	title?: string;
	description?: string;
}

const {
	title = DEFAULT_PAGE_TITLE, 
	description = DEFAULT_PAGE_DESCRIPTION
} = Astro.props;

---

<meta charset="UTF-8" />
<title>{title}</title>
<meta name='description' content={description} />
<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>