---
const title = 'Veils'
const description = 'Share your secrets anonymously'
---

<meta charset="UTF-8" />
<title>{title}</title>
<meta name='description' content={description} />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>