---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>
	<div slot='body'>
		<h1>FUCK YOU</h1>
	</div>
</BaseLayout>
<script>
	if (!window.localStorage.getItem('authorization')) {
		window.location.replace('/login');
	}
</script>