---
import BaseHead from '../layouts/BaseHead.astro'
import { BACKEND_API_URL } from '../lib/constants'
---
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
		<p>backend url: <a href={BACKEND_API_URL}>{BACKEND_API_URL}</a></p>
	</body>
</html>