---
import BaseHead from '../layouts/BaseHead.astro'
import { LOGIN_API_URL } from '../lib/constants'
---
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
		<p>login api url: <a href={LOGIN_API_URL}>{LOGIN_API_URL}</a></p>
	</body>
</html>