---
import BaseLayout from '../layouts/BaseLayout.astro'
import ReactCounter from '../components/ReactCounter';
---
<BaseLayout>

	<main slot='body'>
		<ReactCounter client:visible />
	</main>

</BaseLayout>	
