---
import LoginLayout from '../layouts/LoginLayout.astro'
import DemoButton from '../components/login/DemoButton.svelte'
import LoginForm from '../components/login/LoginForm.svelte'
---

<LoginLayout >


	<div slot='hero' class='h-full p-5 flex flex-col justify-center'>

			<h1 class="text-7xl font-bold text-red-700 mb-5 md:mb-10 ">
				veils
			</h1>

			<h2 class='text-xl lg:text-2xl hd:text-3xl font-medium mb-5 md:mb-10 '>
				Share your secrets anonymously
			</h2>

			<DemoButton client:idle/>
	</div>

	<div slot='form' class='flex flex-row justify-start items-center h-full'>
		
			<LoginForm client:visible/>
	</div>
</LoginLayout>


