---
import LandingLayout from '../layouts/LandingLayout.astro'
import DemoButton from '../components/login/DemoButton'
import LoginForm from '../components/login/LoginForm'
---

<LandingLayout >

			<h1 slot='title'>
				veils
			</h1>
			
			<h2 slot='subtitle'>
				Share your secrets anonymously
			</h2>

			<DemoButton client:idle slot='left-action'/>

			<LoginForm client:visible slot='right'/>
		
</LandingLayout>


