---
import LoginLayout from '../layouts/LoginLayout.astro'
import DemoButton from '../components/login/DemoButton.jsx'
import LoginForm from '../components/login/LoginForm.jsx'
---

<LoginLayout >

			<h1 slot='title'>
				veils
			</h1>
			
			<h2 slot='subtitle'>
				Share your secrets anonymously
			</h2>

			<DemoButton client:idle slot='left-action'/>

			<LoginForm client:load slot='right'/>
		
</LoginLayout>


