---
import RegisterLayout from '../layouts/RegisterLayout.astro'
import DemoButton from '../components/login/DemoButton.jsx'
import RegisterForm from '../components/register/RegisterForm.jsx'
---

<RegisterLayout >

			<h1 slot='title'>
				veils
			</h1>
			
			<h2 slot='subtitle'>
				Share your secrets anonymously
			</h2>

			<DemoButton client:idle slot='left-action'/>

			<RegisterForm client:load slot='right'/>
		
</RegisterLayout>


