@import-normalize;

:root {
  --sc-md: 48em;
  --sc-lg: 66em;
  --sc-hd: 98em;

  --clr-border: #d1d5db;
  --clr-red: #b91c1c;
  --clr-dark: #3f3f46;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark);
}

input {
  padding: 1em;
  outline: none;
  border-radius: 0.75em;
  border: 1px solid var(--clr-border);
  font-size: inherit;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: inherit;
}

a {
  color: inherit;
}

a:hover {
  color: var(--clr-red);
  text-decoration: underline;
}
