name: CI/CD
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    types: [closed]
  push:
    # should only run on feature branches
    # only merge to main via pull request
    branches-ignore: [main]

concurrency:
  group: tests
  cancel-in-progress: true

jobs:

  detect-changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract-branch  
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.extract-branch.outputs.branch }}
          fetch-depth: 0
      - name: Check changes on backend
        id: check-backend
        uses: tj-actions/changed-files@v10
        with:
          files: |
            backend
      - name: Check changes on frontend
        id: check-frontend
        uses: tj-actions/changed-files@v10
        with:
          files: |
            frontend
    outputs:
      backend: ${{ steps.check-backend.outputs.any_changed }}
      frontend: ${{ steps.check-frontend.outputs.any_changed }}

  backend-tests:
    name: Backend Tests
    if: ${{ false }} # simulate skip
    needs: [detect-changes]
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"
        
  frontend-tests:
    name: Frontend Tests
    if: needs.detect-changes.outputs.frontend == 'true'
    needs: [detect-changes]
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract-branch
      - name: Checkout feature branch
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.extract-branch.outputs.branch }}
      - name: Install pnpm
        working-directory: ./frontend
        run: sudo npm i -g pnpm
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'pnpm'
          cache-dependency-path: ./frontend/pnpm-lock.yaml
      - name: Build
        working-directory: ./frontend
        run: pnpm i --frozen-lockfile
      - name: Run Tests
        working-directory: ./frontend
        run: "pnpm test:ci"

  backend-dev:
    name: Deploy Backend DEV
    if: ${{ false }} # simulate skip
    needs: [backend-tests]
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"

  frontend-dev:
    name: Deploy Frontend DEV
    needs: [frontend-tests]
    runs-on: ubuntu-latest
    environment:
      name: frontend DEV
      url: ${{ steps.deploy.outputs.preview-url }}
    outputs:
      preview-url: ${{ steps.deploy.outputs.preview-url }}
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract-branch
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.extract-branch.outputs.branch }}
      - name: "Deploy vercel preview"
        id: deploy
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          scope: ${{ secrets.VERCEL_ORG_ID }} 
      - name: Update vercel url in secrets
        uses: hmanzur/actions-set-secret@v2.0.0
        with:
          name: 'FRONTEND_DEV_URL'
          value: ${{ steps.deploy.outputs.preview-url }}
          token: ${{ secrets.PAT }}

  e2e-tests:
    name: End-to-End Tests
    needs: [backend-dev, frontend-dev]
    # always run if either frontend/backend succeed and neither failed
    if: always() && (needs.backend-dev.result == 'success' || needs.frontend-dev.result == 'success') && (needs.frontend-dev.result != 'failure' && needs.frontend-dev.result != 'failure')
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"
      - name: "TODO: CREATE PR"
        run: echo 'If all e2e tests succeeded, create pr'

  backend-production: # requires approval
    needs: [e2e-tests]
    # this should always run even if create-pr is skipped
    # as long as it matched -> pull_request:main:closed && merged == true
    # and end-to-end tests succeeded
    if: always() && github.event.pull_request.merged == 'true' && needs.e2e-tests.result == 'success'
    name: Deploy Backend PRODUCTION
    runs-on: ubuntu-latest
    environment:
      name: "backend PRODUCTION"
      url: https://offguard.herokuapp.com
    steps:
      - name: TODO
        run: echo "TODO"

  frontend-production:
    needs: [e2e-tests]
    # this should always run even if create-pr is skipped
    # as long as it matched -> pull_request:main:closed && merged == true
    if: always() && github.event.pull_request.merged == 'true' && needs.e2e-tests.result == 'success'
    name: Deploy Frontend PRODUCTION
    runs-on: ubuntu-latest
    environment:
      name: "frontend PRODUCTION"
      url: https://offguard.vercel.app
    steps:
      - name: TODO
        run: echo "TODO"

  