name: CI/CD
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    types: [closed]
  push:
    # should only run on feature branches
    # only merge to main via pull request
    branches-ignore: [main]

concurrency:
  group: tests
  cancel-in-progress: true

jobs:

  detect-changes:
    name: Detect Changes
    if: ${{ false }} # simulate skip
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"

  backend-tests:
    name: Backend Tests
    if: ${{ false }} # simulate skip
    needs: [detect-changes]
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"
        
  frontend-tests:
    name: Frontend Tests
    if: ${{ false }} # simulate skip
    needs: [detect-changes]
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"

  backend-dev:
    name: Deploy Backend DEV
    if: ${{ false }} # simulate skip
    needs: [backend-tests]
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"

  frontend-dev:
    name: Deploy Frontend DEV
    if: ${{ false }} # simulate skip
    needs: [frontend-tests]
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"

  e2e-tests:
    name: End-to-End Tests
    needs: [backend-dev, frontend-dev]
    # always run if either frontend/backend succeed and neither failed
    if: always() && (needs.backend-dev.result == 'success' || needs.frontend-dev.result == 'success') && (needs.frontend-dev.result != 'failure' && needs.frontend-dev.result != 'failure')
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"
      - name: "TODO: CREATE PR"
        run: echo 'If all e2e tests succeeded, create pr'

  backend-production: # requires approval
    needs: [e2e-tests]
    # this should always run even if create-pr is skipped
    # as long as it matched -> pull_request:main:closed && merged == true
    # and end-to-end tests succeeded
    if: always() && github.event.pull_request.merged == 'true' && needs.e2e-tests.result == 'success'
    name: Deploy Backend PRODUCTION
    runs-on: ubuntu-latest
    environment:
      name: "backend PRODUCTION"
      url: https://offguard.herokuapp.com
    steps:
      - name: TODO
        run: echo "TODO"

  frontend-production:
    needs: [e2e-tests]
    # this should always run even if create-pr is skipped
    # as long as it matched -> pull_request:main:closed && merged == true
    if: always() && github.event.pull_request.merged == 'true' && needs.e2e-tests.result == 'success'
    name: Deploy Frontend PRODUCTION
    runs-on: ubuntu-latest
    environment:
      name: "frontend PRODUCTION"
      url: https://offguard.vercel.app
    steps:
      - name: TODO
        run: echo "TODO"

  